@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    display: flex;
}

.description {
    width: 15.5rem;
    height: 31rem;
    margin: 0 13px 0 13px;
    border-radius: 15px;
    background-color: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.txt-description {
    width: 100%;
    border-radius: 15px;
    background: hsl(246, 80%, 60%);
}

.txt-description img {
    width: 5rem;
    border: 3.5px solid #fff;
    border-radius: 50%;
    margin: 1.8em;
}

.txt-about {
    margin-left: 1.8em;
    margin-bottom: 5em;
}

.txt-about h1 {
    font-weight: 300;
}

.txt-about p {
    font-size: 15px;
    font-weight: 300;
    color: hsl(236, 100%, 87%);
}

.opt-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.opt-description ul {
    width: 100%;
    height: 100%;
    color: hsl(236, 100%, 87%);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.opt-description ul li {
    width: 100%;
    padding-left: 1.8em;
    font-size: 16px;
    cursor: pointer;
}

.box {
    width: 10em;
    height: 10em;
    background-color: green;
    border: solid 1px #000;
}
